.banner__container {
    display: flex;
    background: #2E2E2E;
}

.banner__main {
    max-width: 540px;
    flex: 1;
}

.banner__main img {
    height: 100%;
}

.banner__chart {
    width: 739px;
}

.banner__chart img {
    margin-left: 56px;
    margin-top: 13px;
    width: 589px;
    height: 293.62px;
}

