.footer__container {
    position: sticky;
    width: 100%;
    background-color: #414141;
    z-index: 100;
    height: 128px;
    margin-top: 144px;
    display: flex;
    padding: 0 calc(11vw + 19px);
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 51%;
}

.footer__content a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    color: #FFFFFF;
}

.footer__content a span { 
    position: relative;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.033px;
    color: #FFFFFF;
}