.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #414141;
    z-index: 100;
}

.header__logo {
    height: 40px;
    width: 109px;
    margin: 16px 0 8px 176px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53.36vw;
}

.header__right a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    color: #FFFFFF;
}

.header__right a img {
    height: 32px;
    width: 32px;
}

.header__right a span {
    font-size: 13px;
    -webkit-letter-spacing: 1.42px;
    -moz-letter-spacing: 1.42px;
    -ms-letter-spacing: 1.42px;
    letter-spacing: 1.42px;
    position: relative;
    margin-left: 8px;
}

.info__count {
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(76% - 16px/2 - 11px);
    top: calc(50% - 16px/2 - 8px);
    background: #EA6C00;
    border-radius: 50%;
}

.info__count .info__count-text {
    position: absolute;
    left: -2px;
    top: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

.header__menu {
    margin-left: 14px;
    margin-right: 147px;
}

