.hex__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: calc(20vh - 70px);
    padding: 27px calc(18vw + 21px);
}

.hex__wrap {
    background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
    -webkit-clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
    clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
    display: flex;
    flex-direction: row-reverse;
    height: 130px;
    width: 134px;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
}

.hex__wrap img {
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: rotate(90deg);
    margin-left: 18px;
}

.hex__text {
    transform: rotate(90deg);
    position: absolute;
    width: 78px;
    height: 24px;
    top: calc(50% - 26px/2);
    right: calc(30% - 24px/2 + 28px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}