.meal__container {
    min-height: calc(54vw - 67px);
    padding: 0 calc(12vw + 14px);
    position: relative;
    overflow: hidden;
}

.meal__wrap {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, minmax(0,1fr));
    width: -moz-fit-content;
}

.meal__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meal__btn {
    position: absolute;
    background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
    height: 56px;
    width: 296px;
    left: 493px;
    top: 504px;
    border-radius: 5px;
}

.meal__btn span {
    position: absolute;
    height: 26px;
    left: 4px;
    right: 4px;
    top: calc(50% - 26px/2 - 1px);
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.meal__btn-scroll {
    position: absolute;
    bottom: 395px;
    left: calc(137vh - 7px);
}

.meal__btn-scroll img {
  width: 48px;
  height: 48px;
}

.meal__title-row1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    position: absolute;
    width: 120px;
    height: 32px;
    bottom: 390px;
    background: #FFCC21;
    align-items: center;
    display: flex;
    justify-content: center;
}

.meal__title-row2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    position: absolute;
    width: 120px;
    height: 32px;
    bottom: 148px;
    background: #FFCC21;
    align-items: center;
    display: flex;
    justify-content: center;
}