.record__container {
    
}

.record__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 112px 56px;
}

.record__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #2E2E2E;
    border: 24px solid #FFCC21;
    height: 288px;
    width: 288px;
}

.record__content img {
    width: 100%;
    height: 100%;
}

.record__btn-record {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 24px;
    /* width: 191px; */
    position: absolute;
}

.record__text-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.125px;
    color: #FFCC21;
}

.record__text-item {
    background: #FF963C;
    margin-top: 11px;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    height: 24px;
    width: 160px;
}

.record__detail {
    min-height: calc(100vh - 70px);
    padding: 0 calc(11vw + 19px);
    position: relative;
    overflow-x: hidden;
}

.body__record {
    padding-bottom: 56px;
}

.my__exercise {
    height: 304px;
    width: 936px;
    background: #414141;
    margin-bottom: 56px;
    padding: 16px 0 16px 24px;
}

.my__exercise-title {
    display: flex;
}

.my__exercise-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    max-width: 85px;
}

.my__exercise-time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.11px;
    color: #FFFFFF;
    margin-left: 9px;
}

.mydiary__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.11px;
    color: #414141;
}

.record__mydiary-detail {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(4,minmax(0,1fr));
}

.mydiary__content {
    cursor: pointer;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #707070;
    width: 231px;
    height: 231px;
    padding: 16px;
}

.mydiary__time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.09px;
    color: #414141; 
    max-width: 140px;
}

.mydiary__text {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.06px;
    color: #414141;
    max-width: 192px;
    margin-top: 12px;
}

.record__btn-scroll {
    position: absolute;
    bottom: 1086px;
    left: calc(137vh - -2px);
}

.record__btn {
    position: absolute;
    background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
    height: 56px;
    width: 296px;
    left: 493px;
    top: 1293px;
    border-radius: 5px;
}

.record__btn span {
    position: absolute;
    height: 26px;
    left: 4px;
    right: 4px;
    top: calc(50% - 26px/2 - 1px);
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.my__diary {
    margin-bottom: 151px;
}